<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="ru.sshelomentsev.grouplaunch.Delegate"
            id="ru.sshelomentsev.grouplaunch.launchConfigurationType"
            modes="run,debug"
            name="Group Launch">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ru.sshelomentsev.grouplaunch.ui.ConfigurationTabGroup"
            id="ru.sshelomentsev.grouplaunch.launchConfigurationTabGroup"
            type="ru.sshelomentsev.grouplaunch.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ru.sshelomentsev.grouplaunch.launchConfigurationType"
            icon="icons/run.png"
            id="ru.sshelomentsev.grouplaunch.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>


</plugin>
